Source: leela-client
Section: net
Priority: extra
Maintainer: Juliano Martinez <juliano.martinez@locaweb.com.br>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/ncode/python-leela

Package: leela-client
Architecture: any
Replaces: python-leela
Breaks: python-leela
Depends: ${shlibs:Depends}, ${misc:Depends}, python-psutil (>= 0.4), python-dnspython
Description: Collects anything, monitors anything and charts anything
 Collects anything, monitors anything and charts anything
